<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Registration Form</title>
        <link href="/css/auth.css" rel="stylesheet" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="box">
            <h2>SIGN UP</h2>
            <form th:action="@{/register}" method="post">
                <div class="inputBox">
                    <label>Username</label>
                    <input autocomple="off" type="text" name="username" required="">
                </div>
                <div class="inputBox">
                    <label>Email</label>
                    <input autocomple="off" type="email" name="email" required="">
                </div>
                <div class="inputBox">
                    <label>Password</label>
                    <input type="password" name="password" required="">
                </div>
                <div class="inputBox">
                    <label>Password (Again)</label>
                    <input type="password" name="re_password" required="">
                </div>
                <input type="submit" name="" value="Register">
            </form>
            <div class="login">
                <p>Already have account? <a href="/login">Login</a></p>
            </div>
        </div>
    </body>
</html>